[submodule "check_ib"]
	path = check_ib
	url = git@github.com:SOSETH/check_ib.git
[submodule "check_power"]
	path = check_power
	url = git@github.com:SOSETH/check_power.git
[submodule "check_sas_smart"]
	path = check_sas_smart
	url = git@github.com:SOSETH/check_sas_smart.git
[submodule "check-ceph"]
	path = check-ceph
	url = git@github.com:SOSETH/check-ceph.git
[submodule "check_apcupsd"]
	path = check_apcupsd
	url = git@github.com:SOSETH/check_apcupsd.git
[submodule "check_iostat"]
	path = check_iostat
	url = git@github.com:SOSETH/check_iostat.git
[submodule "check_ipmi_sensor_v3"]
	path = check_ipmi_sensor_v3
	url = git@github.com:SOSETH/check_ipmi_sensor_v3.git
[submodule "check_mem"]
	path = check_mem
	url = git@github.com:SOSETH/check_mem.git
[submodule "check_lm_sensors"]
	path = check_lm_sensors
	url = git@github.com:SOSETH/check_lm_sensors.git
[submodule "check_raid"]
	path = check_raid
	url = git@github.com:SOSETH/check_raid.git
[submodule "check_snmp_int"]
	path = check_snmp_int
	url = git@github.com:SOSETH/check_snmp_int.git
[submodule "check_smartvalues"]
	path = check_smartvalues
	url = git@github.com:SOSETH/check_smartvalues.git
[submodule "tcpdup"]
	path = tcpdup
	url = git@github.com:SOSETH/tcpdup.git
[submodule "graphite_exporter"]
	path = graphite_exporter
	url = git@github.com:SOSETH/graphite_exporter.git
[submodule "check_ceph_dash"]
	path = check_ceph_dash
	url = git@github.com:SOSETH/check_ceph_dash.git
[submodule "ceph-dash"]
	path = ceph-dash
	url = git@github.com:SOSETH/ceph-dash.git
[submodule "ceph_exporter"]
	path = ceph_exporter
	url = git@github.com:SOSETH/ceph_exporter.git
[submodule "snmp_exporter"]
	path = snmp_exporter
	url = git@github.com:SOSETH/snmp_exporter.git
[submodule "check_lsi_raid"]
	path = check_lsi_raid
	url = git@github.com:SOSETH/check_lsi_raid.git
